<h1>Listing slips</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Code</th>
      <th>Date</th>
      <th>From shop</th>
      <th>Reason</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slips.each do |slip| %>
      <tr>
        <td><%= slip.type %></td>
        <td><%= slip.code %></td>
        <td><%= slip.date %></td>
        <td><%= slip.from_shop_id %></td>
        <td><%= slip.reason %></td>
        <td><%= slip.price %></td>
        <td><%= slip.description %></td>
        <td><%= link_to 'Show', slip %></td>
        <td><%= link_to 'Edit', edit_slip_path(slip) %></td>
        <td><%= link_to 'Destroy', slip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slip', new_slip_path %>
